{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions"]
            }
        }],
        "flow"
    ],
    "plugins": [
        "add-module-exports",
        "transform-object-rest-spread"
    ]
}